<html>
  <head>
    <title>Transfer Funds</title>
  </head>
  <body>
    <h1>Transfer Money</h1>
    <form action="/transfer" method="post" onsubmit="transfer(event)">
      <label>Receiver: <input type="text" name="receiver" /></label><br />
      <label>Amount: <input type="number" name="amount" step="0.01" /></label
      ><br />
      <input type="submit" value="Transfer" />
    </form>
    <a href="#" onclick="account(event)">Back to account</a>
    <p id="exit" style="display: none; color: red">Login required!</p>
  </body>
  <script>
    async function retrive_user() {
      token = localStorage.getItem("token");
      const response = await fetch("/retrive_user/", {
        headers: {
          Authorization: "Bearer " + token,
        },
      });
      const data = await response.json();
      if (response.ok) {
        return data.username;
      } else {
        return null;
      }
    }

    async function account(event) {
      event.preventDefault();
      user = await retrive_user();
      if (user) {
        window.location.href = "/account/" + user;
      } else {
        exit();
      }
    }
    function exit() {
      document.getElementById("exit").style.display = "block";
      localStorage.removeItem("token");
      setTimeout((_) => (window.location.href = "/"), 2000);
    }
    async function transfer(event) {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);
      token = localStorage.getItem("token");
      if (!token) {
        exit();
      }
      const response = await fetch("/transfer", {
        method: "POST",
        body: formData,
        headers: {
          Authorization: "Bearer " + token,
        },
      });
      const data = await response.json();
      if (response.ok) {
        alert(data.message);
      } else {
        alert(data.detail);
        exit();
      }
    }
  </script>
</html>
